# Binaries
*.exe
*.out

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Docker volumes
pgdata/
grafana-data/

.env